<?xml version='1.0' encoding='utf-8'?>
<widget id="pe.gob.ingemmet.PatrimonioGeologico" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Patrimonio Geológico</name>
    <description>Visor de Patrimonio Geológico</description>
    <author email="hcastro@ingemmet.gob.pe" href="https://geocamtin.ingemmet.gob.pe/">
        Hugo Castro
    </author>
    <content src="index.html" />
    <access origin="https://geocatmin.ingemmet.gob.pe" subdomains="true" />
    <access origin="https://js.arcgis.com" subdomains="true" />

    <allow-navigation href="https://*/*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

     <platform name="android">
    <icon src="www/img/logo.png" density="ldpi"/>
    <icon src="www/img/logo.png" density="mdpi"/>
    <icon src="www/img/logo.png" density="hdpi"/>
    <icon src="www/img/logo.png" density="xhdpi"/>
</platform>

</widget>
